@import "default";

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: verdana, sans-serif;
  font-weight: bold;
  background: #fe6e00;
  height: 12vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 40px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav-list li:hover {
  color: black;
  transition: 10ms;
  cursor: pointer;
}

#botao {
  background-color: #fe6e00;
  color: white;
  margin-bottom: 6px;
  display: block;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr;
  background-color: beige;
}

.formulario form {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  padding: 50px;
  border: 5px solid #fe6e00;
  border-radius: 50px;
  background-color: white;
}
